.sidebar {
    /* position: fixed; */
    left: 0px;
    top: 0px;
    width: 81px;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    box-shadow: 0 0 10px #dedada;
    padding: 0px 19px;
}

ul>li.main-li {
    list-style-type: none;
    background: #f4f4fa;
    padding: 9px 11px;
    margin: 27px 0;
    border-radius: 3px;
 
}

ul {
    margin: 0px;
    padding: 0px;
}

ul.profile-hover-sidebar{
    position: absolute;
    bottom: 28px;
    left: 51px;
    background: white;
 
    padding: 10px 23px;
    width: 150px;
}

.sidebar-icons{
    color: red;
    /* background-color: var(--themeColor); */
    font-size: 14px;
    filter: hue-rotate(200deg); 
}

.bottom-icon{
    width:17px
}